{% extends 'base.html' %}

{% block title %}
Inicio - Salud del Maule
{% endblock %}

{% block content %}
<div class="card">
    <h1>Bienvenido a <strong>Salud del Maule!</strong></h1>
    <p>Gracias por visitar nuestro sistema. Aquí podrás acceder a las diferentes funciones una vez que hayas iniciado sesión.</p>

    {% if user.is_authenticated %}
        <p>Usuario conectado: <strong>{{ user.username }}</strong></p>
        
        <p class="mt-2">Tu grupo de acceso es: <strong>{{ grupo }}</strong></p>
        
    {% else %}
        <p><a href="{% url 'login' %}" class="btn">Iniciar sesión</a></p>
    {% endif %}
</div>
{% endblock %}